<div class="topnav">
	  <a style="float: left; font-weight:bold;" href="/home">Duolingo Clone App</a>
	  <a href="/user/register">Register</a>
	  <a href="/user/login">Login</a>
	  <a href="/user/leaderboard">Leaderboard</a>
	  <a href="/home">Home</a>
</div>