<div class="topnav">
		<a style="float: left; font-weight:bold;" href="../admin">Duolingo Clone App</a>

		<a href="/user/logout">Logout</a>
		<a href="../user">User List</a>
		<a href="../question">Question List</a>
		<a href="/user/leaderboard">Leaderboard</a>
		<a href="../admin">Home</a>
</div>