<div class="topnav">
	  <a style="float: left; font-weight:bold;" href="../../student">Duolingo Clone App</a>
	  <a href="../../student">Register</a>
	  <a href="../../subject">Login</a>
	  <a href="../../">Home</a>
</div>
<hr>