<div class="topnav">
	  <a style="float: left; font-weight:bold;" href="../">Duolingo Clone App</a>
	  <a href="../register">Register</a>
	  <a href="../login">Login</a>
	  <a href="../">Home</a>
</div>