<div class="topnav">
	  <a style="float: left; font-weight:bold;" href="../">Duolingo Clone App</a>
	  <a href="/user/logout">Logout</a>
	  <a href="/user/leaderboard">Leaderboard</a>
	  <a href="../">Home</a>
</div>