<div class="topnav">
	  <a style="float: left; font-weight:bold;" href="../">Duolingo Clone App</a>
	  <a href="/user/register">Register</a>
	  <a href="/user/login">Login</a>
	  <a href="../">Home</a>
</div>