<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ../views/partials/style.ejs %>
    <title>Duolingo Clone App</title>
</head>
<body background="https://monodomo.com/free-wallpapers/dark-nature-wallpapers-1080p-For-Free-Wallpaper-1.jpg" >
	<%console.log(loginStat)%>
	<% if (loginStat === false || loginStat === undefined){%>
	<%- include ../views/partials/navbar.ejs %>
	<% } else {%>
	<%- include ../views/partials/navbarN.ejs %>
	<% } %>
	<div style="color: white; text-align: center; margin-top: 17%">
	<h1> Learn a language, and you’ll avoid a war.</h1>
	<h3> - Arab Proverb - </h3>	
	<br><br><br>
	<button onclick="window.location.href='/test'" style="width: 40%; background-color: black; padding: 14px 20px; color: white; border-radius: 3px;"> Take a Test! </button>
	</div>
	<br>
</body>
</html>