<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ./partials/style.ejs %>
    <title>Duolingo Clone App</title>
</head>
<body background="https://monodomo.com/free-wallpapers/dark-nature-wallpapers-1080p-For-Free-Wallpaper-1.jpg" >
	<%- include ./partials/navbar.ejs %>
<h2 style="text-align: center; color: white;"> Login </h2>
<form style="padding: 15px; width: 100%;" action="/user/login" method="post">
	<div style="margin-left: 28%; width: 50%;">
	  <label style="color: white;">Email: </label> <br>
	  <input style="padding: 10px; font-size: 15px; width: 80%; float: center;" type="email" name="email"><br><br>
	  <label style="color: white;">Password: </label> <br>
	  <input style="padding: 10px; font-size: 15px; width: 80%; float: center;" type="password" name="password"><br>
	  <br><br><br>
	  <button style="background-color: blue; color:white; border: 1px solid black; text-align: center; width: 83.5%; padding:10px; font-size: 15px; float: left;" type="submit" value="Submit">Login</button>
	</div>
</form> 
</div>
</body>
</html>