<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ../views/partials/style.ejs %>
    <title>Duolingo Clone App</title>
</head>
<body background="https://monodomo.com/free-wallpapers/dark-nature-wallpapers-1080p-For-Free-Wallpaper-1.jpg" >
  <%- include ../views/partials/navbarN.ejs %>
  <br><br><br>
  <h2 style="color:cornsilk"> <%= error %></h2>
<h2 style="color: white">Add new question</h2>

<div style="margin-left: 26%; width: 50%;">
  <form action="add" method="POST">
    <label style="color: white;" for="question">Question</label>
    <input type="text" name="question" placeholder="Your question..">

    <label style="color: white;" for="answer">Answer</label>
    <input type="text"  name="answer" placeholder="the Answer is..">
  
    <input type="submit" value="Submit">
  </form>
  <button class="button" onclick="window.location.href='/question'">Cancel</button>
</div>

</body>
</html>
